name: Build and Release

on:
  push:
    branches: ['main']
    tags: ['v*']

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [1.21]
        os: [linux]
        arch: [amd64, arm]
        include:
          - os: darwin
            arch: amd64
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}

      - name: Build for ${{ matrix.arch }}
        env:
          GOOS: linux
          GOARCH: ${{ matrix.arch }}
        run: |
          mkdir -p dist
          go build -o dist/sensor-scraper-${{ matrix.os }}-${{ matrix.arch }} -tags release .
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: binary-${{ matrix.os }}-${{ matrix.arch }}
          path: dist/sensor-scraper-*


  release:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: write
    steps:
      - name: Download All Binaries
        uses: actions/download-artifact@v4
        with:
          path: dist
          pattern: binary-*
          merge-multiple: true
      - name: Create Release
      
        uses: softprops/action-gh-release@v2
        with:
          files: dist/sensor-scraper-*
